* {
    margin: 0;
    padding: 0;
    border: none;
    outline-color: #000000;
}

.clear:before,
.clear:after {
    display: table;
    content: "";
}
.clear:after {
    clear: both;
}

.no-border {
    border: none;
}

body {
    font: 100%/1.5em Georgia, "Times New Roman", serif;
}

header {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header div {
    float: left;
}

header .about {
    margin: 20px 20px 0 20px;
}

footer {
    height: 128px;
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}

footer .copyright {
    float: right;
}

section {
    padding: 10px;
}

a {
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 255, 0.33);
}

a:visited {
    color: #800080;
    border-color: rgba(128, 0, 128, 0.33);
}

a:hover, a.hover {
    color: #FF0000;
    border-color: rgba(255, 0, 0, 0.33);
}

a.toggle {
    border-bottom-style: dashed;
}

.logo a {
    background: url(../images/logo.png) no-repeat 0% 0%;
    display: block;
    width: 128px;
    height: 128px;
}

.projects div {
    text-align: center;
    float: left;
    margin: 0 0 20px 0;
    width: 20%;
    min-width: 200px;
}

.projects img {
    width: 180px;
}

.popup {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0px 0px 5px 1px #000000;
}

.login_form div {
    padding: 5px;
}